:root {
    --cor-titulos: #747474;
    --cor-verdeClaro: #4a9c2d;
    --cor-verdeEscuro: #47902b;
    --cor-vermelho: #d60037;
    --cor-cinza: #4d4c4d;
    --cor-preto: #000000;
    --cor-branco: #ffffff;
    --cor-cxSelecao: #f9f8f9;
    --cor-bordinha: #dcdddc;

}